<footer>
    <div class="containerFooter">
        <div class="redes">
            <a href="https://github.com/TheGamer406" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
            <a href="https://www.linkedin.com/in/jose-murillo-9a6a3425a/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        </div>
        <div class="copy">
            <p>&copy; Copyrights 2024 | Jose Murillo</p>
        </div>
</footer>
    <script src=""></script>
    <!--Links libreria de iconos-->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>