<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="images/calculator-outline.svg">
    <title><%=title %></title>
</head>
<body>
    <header>
        <div class="navMenuHeader">
            <div>
               <a href="/" class="house"> <h1>Portafolio Matematica | </h1></a>
            </div>
            <div class="dropdown">
                <a class="nav">Portafolio 1</a>
                <div class="menuPortafolio1 nav-menu">
                    <a href="/ejercicioJerogrificos">Ejecicio Jerogrificos</a>
                    <a href="/P1EA">Primer Ejecicio</a>
                    <a href="/P1EB">Segundo Ejecicio</a>
                    <a href="/P1EC">Tercero Ejecicio</a>
                    <a href="/P1ED">Cuarto Ejecicio</a>
                    <a href="/P1EE">Quinto Ejecicio</a>
                  </div>
            </div>
            <div class="dropdown">
                <a class="nav">Portafolio 2</a>
                <div class="menuPortafolio1 nav-menu">
                    <a href="/P2E1">Primer Ejecicio</a>
                    <a href="/P2E2">Segundo Ejecicio</a>
                    <a href="/P2E3">Tercero Ejecicio</a>
                    <a href="/P2E4">Cuarto Ejecicio</a>
                  </div>
            </div>
        </div>
    </header>