<%- include('./layouts/header.ejs') %>
<link rel="stylesheet" href="stylesheets/index.css">
  <div class="container">
    <div class="box">
      <div class="indexContent">
        <div>
          <h1>Bienvenido al <%= title %> Por: Jose Murillo</h1>
          <p>Le presento señor Porfesor, las entregas del Primer y del Segundo portafolio del curso logica y matemtica basica por medio de esta pagina web</p>
        </div>
        <img src="images/minion.png" alt="minion muy tierno">
      </div>
    </div>
  </div>

<%- include('./layouts/footer.ejs')%>
