<%- include('./layouts/header.ejs') %>

  <div class="container">
    <div class="box">
      <p>Ejercicio <%= title %></p>
      <label>Instructivo</label>
      
    </div>
  </div>

<%- include('./layouts/footer.ejs')%>
