<%- include('./layouts/header.ejs') %>

  <div class="container">
    <div class="box">
      <div class="center">
        <h1>Ejercicio <%= title %></h1>
        <div class="line" style="width: 800px; height: 4px;"></div>
      </div>
      <div class="info">
        <label>Instructivo</label>
        <div class="line" style="width: 300px; height: 2px;"></div>
        <p>
          Una persona está en una competencia de matemáticas, en el cual le pusieron
          el siguiente reto: Debe llegar a un resultado lo más cerca posible del número
          25 utilizando los números reales 3, 7, 8 y 7/3 exactamente una vez cada uno y
          puede utilizar repetidamente las operaciones básicas de suma (+), resta (-) 
          multiplicación (*), y división (÷). ¿Cuál sería su solución a este problema?
        </p>
        <label>Resolucion</label>
        <div class="line" style="width: 300px; height: 2px;"></div>
        <p>La solucion mas cercana seria</p>
        <div class="center">
          <p class="resaltar">la combianacion mas simple para resolver este problea seria algo asi</p>
          <p>7×3+8−7/3</p>
          <p>lo calculamos resaltar a a resaltar</p>
          <p class="resaltar">resaltar 1:</p>
          <p>7×3=21</p>
          <p class="resaltar">resaltar 2:</p>
          <P>21+8=29</P>
          <P class="resaltar">Finalmente:</P>
          <P>29-7/3=26.66</P>
          <P>Esto nos deja con un resultado de 26.66667 Lo mas cercano a 25 encontrado por mi</P>
        </div>
      </div>
    </div>
  </div>
<%- include('./layouts/footer.ejs')%>
