<%- include('./layouts/header.ejs') %>

<div class="container">
  <div class="box">
    <div class="center">
      <h1>Ejercicio <%= title %></h1>
      <div class="line" style="width: 800px; height: 4px;"></div>
    </div>
    <div class="info">
      <label>Instructivo</label>
      <div class="line" style="width: 300px; height: 2px;"></div>
      <p>
        Indague algún discurso o texto que le llame la atención, colóquelo y dé su
        opinión del mismo.
      </p>
      <label>Resolucion</label>
      <div class="line" style="width: 300px; height: 2px;"></div>
      <div class="center">
        <p class="resaltar">Encuentro un gran mensaje en el siguiente video</p>
        <a class="link" href="https://www.instagram.com/p/C9atIIuABkt/" target="_blank">Link al video</a>
        <p>No se de donde salio sinceramente, o porque pero me salio en redes sociales y 
          de esas veces que hay que verlos hasta 3, 4 o incluso 5 veces de forma que el mensaje te interioriza
          al final el mensaje es a quien es un amigo y quien es un mejor amigo y quien no de una forma breve 
          pero de gran poesia.
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
<%- include('./layouts/footer.ejs')%>
