<%- include('./layouts/header.ejs') %>
<div class="container">
  <div class="box">
    <div class="center">
      <h1>Ejercicio <%= title %></h1>
      <div class="line" style="width: 800px; height: 4px;"></div>
    </div>
    <div class="info">
      <label>Instructivo</label>
      <div class="line" style="width: 300px; height: 2px;"></div>
      <p>Sean los conjuntos ğ´ = {ğ‘, ğ‘, ğ‘, ğ‘‘, ğ‘’ }, ğµ = {ğ‘‘, ğ‘’, ğ‘“}, ğ¶ = {ğ‘”, â„, ğ‘–, ğ‘—}, ğ· =
        {ğ‘˜, ğ‘™, ğ‘š, ğ‘›} ğ‘¦ ğ‘ˆ = {ğ‘¥| ğ‘¥ ğ‘’ğ‘  ğ‘¢ğ‘›ğ‘ ğ‘™ğ‘’ğ‘¡ğ‘Ÿğ‘ ğ‘‘ğ‘’ğ‘™ ğ‘ğ‘ğ‘’ğ‘ğ‘’ğ‘‘ğ‘ğ‘Ÿğ‘–ğ‘œ}. Con base en estos conjuntos
        hallar:</p>
        <ul>
          <li>ğ´ âˆª ğµ: {ğ‘, ğ‘, ğ‘, ğ‘‘, ğ‘’, ğ‘“}</li>
          <li>ğ´ âˆª ğ¶: {ğ‘, ğ‘, ğ‘, ğ‘‘, ğ‘’, ğ‘”, â„, ğ‘–, ğ‘—}</li>
          <li>ğ´ âˆ© ğµ: {ğ‘‘, ğ‘’}</li>
          <li>ğ´ âˆª ğ‘ˆ: {ğ‘, ğ‘, ğ‘, ğ‘‘, ğ‘’, ğ‘“, ğ‘”, â„, ğ‘–, ğ‘—, ğ‘˜, ğ‘™, ğ‘š, ğ‘›, ğ‘œ, ğ‘, ğ‘, ğ‘Ÿ, ğ‘ , ğ‘¡, ğ‘¢, ğ‘£, ğ‘¤, ğ‘¥, ğ‘¦, ğ‘§}</li>
          <li>(ğ´ âˆª ğµ) âˆ© ğ¶: no hay</li>
          <li>(A âˆ© C) âˆª (B âˆ© C): no hay</li>
      </ul>
      <div></div>
      </div>
    </div>
  </div>
</div>
<%- include('./layouts/footer.ejs')%>
