<%- include('./layouts/header.ejs') %>
<div class="container">
  <div class="box">
    <div class="center">
      <h1>Ejercicio <%= title %></h1>
      <div class="line" style="width: 800px; height: 4px;"></div>
    </div>
    <div class="info">
      <label>Instructivo</label>
      <div class="line" style="width: 300px; height: 2px;"></div>
        <p class="resaltar">
          Añada un pequeño comentario de los temas: Conjuntos y expresiones algebraicas.
          (Si les pareció llamativo, si o no y el porqué) :-)
        </p>
        <div class="center">
          <p>
            Para mi es uno de los temas mas interesantes porque es cuando muchos conceptos basico o de las bases matematica se unen
            para darle sentido a muchisimos sistemas al diseño de estructuras al comportamiento de la tierra y en sentido matematico
            es un tema que te hace pensar que te dice eh vea no todo es de color rosa y eso me gusta el tener que esforzarse porque
            lo amerita y terminar con la conviccion de que uno si sabe no que sabe a medias, a parte de que es confuso en alguna cosas
            y eso termina de cerrar mi idea del tema.
          </p>
        </div>
    </div>
  </div>
</div>
<%- include('./layouts/footer.ejs')%>
